@model IQueryable<AccountView>

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th"></span>
            <h5>@Resource.ForPage("Accounts")</h5>
            <div class="widget-header-buttons">
                <authorize action="Create">
                    <a asp-action="Create" class="btn">
                        <span class="far fa-file"></span><span class="text">@Resource.ForAction("Create")</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.AddAction("Details", "fa fa-info");
                    columns.AddAction("Edit", "fa fa-pencil-alt");

                    columns.AddProperty(model => model.Username);
                    columns.AddProperty(model => model.Email);
                    columns.AddProperty(model => model.RoleTitle);
                    columns.AddBoolean(model => model.IsLocked);
                })
                .ApplyDefaults()
            )
        </div>
    </div>
</div>
