table .action-cell {
  text-align: center;
  min-width: 36px;
  padding: 7px;
  width: 36px;
}
table .action-cell + .action-cell {
  border-left: none;
  padding-left: 0;
  min-width: 28px;
  width: 28px;
}
table .action-cell.details a {
  background-color: #5cb85c;
}
table .action-cell.edit a {
  background-color: #f0ad4e;
}
table .action-cell.delete a {
  background-color: #d9534f;
}
table .action-cell a {
  transition-duration: 0.3s;
  display: inline-block;
  border-radius: 4px;
  line-height: 2.2;
  font-size: 9px;
  color: #ffffff;
  height: 20px;
  width: 20px;
}
table .action-cell a:hover {
  transition-duration: 0.3s;
  transform: scale(1.2);
}
