.widget-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  background-color: #fafafa;
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
}
.widget-header {
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  height: 2.5em;
}
.widget-header .icon {
  border-right: 1px solid #cdcdcd;
  padding: 0 0.85em;
  line-height: 2.5;
}
.widget-header h5 {
  font-weight: bold;
  padding: 0 0.75em;
  line-height: 2.5;
  font-size: 1em;
  height: 100%;
  margin: 0;
  flex: 1;
}
.widget-header .widget-header-buttons {
  display: flex;
}
.widget-header .widget-header-buttons .btn {
  border-left: 1px solid #cdcdcd;
  border-bottom: none;
  line-height: 2.86;
  font-size: 0.85em;
  border-top: none;
  border-radius: 0;
  padding: 0 0.8em;
  min-width: 3em;
}
.widget-header .widget-header-buttons .btn:hover {
  background: linear-gradient(#6f93a7, #2a4e62);
  color: #ffffff;
}
.widget-header .widget-header-buttons .btn .text {
  padding-left: 5px;
}
@media (max-width: 767px) {
  .widget-header .widget-header-buttons .btn > span {
    padding: 0;
  }
  .widget-header .widget-header-buttons .text {
    display: none;
  }
}
.widget-content {
  overflow-x: auto;
  width: 100%;
}
.widget-content .form-group {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #ffffff;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  margin: 0;
  zoom: 1;
}
.widget-content .form-group:before,
.widget-content .form-group:after {
  display: table;
  content: " ";
}
.widget-content .form-group:after {
  clear: both;
}
.widget-content .form-group:last-child {
  border-bottom: 0;
}
.widget-content .form-group textarea,
.widget-content .form-group .input-group {
  max-width: 100%;
  width: 100%;
}
.widget-content .control-label {
  text-align: left;
}
.widget-content .form-actions {
  text-align: center;
}
@media (min-width: 992px) {
  .widget-content .control-label {
    text-align: right;
  }
  .widget-content .control-validation {
    text-align: center;
  }
  .widget-content .form-actions {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .widget-content .control-validation {
    text-align: left;
  }
}
