@model AccountRecoveryView

<div class="title text-right">@Resource.ForPage(ViewContext.RouteData.Values)</div>

<hr />

<form asp-antiforgery="true">
    <partial name="_AuthAlerts" />

    <div class="input-group">
        <span class="fa fa-envelope"></span>
        <input asp-for="Email" asp-placeholder />
        <span class="input-error fa fa-exclamation-triangle"></span>
    </div>

    <button class="btn btn-block btn-primary mt-3 mb-3">@Resource.ForAction("Recover")</button>
</form>

<hr />

<div class="actions text-right">
    <a asp-action="Login" class="title fa fa-sign-in-alt" data-toggle="tooltip" data-original-title="@Resource.ForAction("Login")" data-placement="bottom" data-delay="1"></a>
</div>
